<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.56.0.0" targetFramework="Native" />
  <package id="boost_date_time-vc120" version="1.56.0.0" targetFramework="Native" />
  <package id="boost_filesystem-vc120" version="1.56.0.0" targetFramework="Native" />
  <package id="boost_program_options-vc120" version="1.56.0.0" targetFramework="Native" />
  <package id="boost_regex-vc120" version="1.56.0.0" targetFramework="Native" />
  <package id="boost_system-vc120" version="1.56.0.0" targetFramework="Native" />
  <package id="boost_unit_test_framework-vc120" version="1.56.0.0" targetFramework="Native" />
  <package id="secp256k1_vc120" version="0.1.0.4" targetFramework="Native" />
</packages>